{% extends 'home.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="POST" action="" class="border mt-2 p-3 border-secondary" >
                    {{ form_editarpessoal.csrf_token }}
                    <legend>Dados do funcionário</legend>
                    <fieldset>
                        {% if pessoal == "NEW" %}
                        <div class="form-group">
                         <div class="col" style="text-align: left">
                                <h3> Novo funcionário </small></h3>
                         </div>
                        </div>
                        {% else %}

                        <div class="form-group">
                            <div class="col" style="text-align: left">
                                <h3> {{ pessoal.nomefunc }} - <small> {{ '{:02d}/{:02d}/{:02d}'.format(pessoal.dtadmiss.day, pessoal.dtadmiss.month, pessoal.dtadmiss.year) }} </small></h3>
                            </div>
                        </div>
                        {% endif %}
                        {% if current_user.access < 4 %}
                            <HR> Você não pode editar funcionários! <BR>
                        {% else %}
                        <div style="display: flex; align-items: center; gap: 10px;">
                               <div class="form-group">
                             {{ form_editarpessoal.select_statusrh.label(class="form-control-label") }}
                             {% if form_editarpessoal.select_statusrh.errors %}
                                 {{ form_editarpessoal.select_statusrh(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                 {% for erro in form_editarpessoal.select_statusrh.errors %}
                                     {{ erro }}
                                 {% endfor %}
                                 </div>
                             {% else %}
                                 {{ form_editarpessoal.select_statusrh(class="form-control") }}
                             {% endif %}
                            </div>
                            <div class="form-group" style="width:35%">
                                {{ form_editarpessoal.nomefunc.label(class="form-control-label") }}
                                {% if form_editarpessoal.nomefunc.errors %}
                                 {{ form_editarpessoal.nomefunc(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                 {% for erro in form_editarpessoal.nomefunc.errors %}
                                     {{ erro }}
                                 {% endfor %}
                                 </div>
                                {% else %}
                                    {{ form_editarpessoal.nomefunc(class="form-control") }}
                                {% endif %}
                            </div>
                               <div class="form-group">
                             {{ form_editarpessoal.dtnascim.label(class="form-control-label") }}
                             {% if form_editarpessoal.dtnascim.errors %}
                                 {{ form_editarpessoal.dtnascim(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                 {% for erro in form_editarpessoal.dtnascim.errors %}
                                     {{ erro }}
                                 {% endfor %}
                                 </div>
                             {% else %}
                                 {{ form_editarpessoal.dtnascim(class="form-control") }}
                             {% endif %}
                            </div>
                            <div class="form-group">
                             {{ form_editarpessoal.dtadmiss.label(class="form-control-label") }}
                             {% if form_editarpessoal.dtadmiss.errors %}
                                 {{ form_editarpessoal.dtadmiss(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                 {% for erro in form_editarpessoal.dtadmiss.errors %}
                                     {{ erro }}
                                 {% endfor %}
                                 </div>
                             {% else %}
                                 {{ form_editarpessoal.dtadmiss(class="form-control") }}
                             {% endif %}
                            </div>
                               <div class="form-group">
                             {{ form_editarpessoal.dtlimfer.label(class="form-control-label") }}
                             {% if form_editarpessoal.dtlimfer.errors %}
                                 {{ form_editarpessoal.dtlimfer(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                 {% for erro in form_editarpessoal.dtlimfer.errors %}
                                     {{ erro }}
                                 {% endfor %}
                                 </div>
                             {% else %}
                                 {{ form_editarpessoal.dtlimfer(class="form-control") }}
                             {% endif %}
                            </div>
                               <div class="form-group">
                             {{ form_editarpessoal.dtdeslig.label(class="form-control-label") }}
                             {% if form_editarpessoal.dtdeslig.errors %}
                                 {{ form_editarpessoal.dtdeslig(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                 {% for erro in form_editarpessoal.dtdeslig.errors %}
                                     {{ erro }}
                                 {% endfor %}
                                 </div>
                             {% else %}
                                 {{ form_editarpessoal.dtdeslig(class="form-control") }}
                             {% endif %}
                            </div>
                        </div>
                        <div style="display: flex; align-items: center; gap: 10px;">
                             <div class="form-group" style="width:20%">
                             {{ form_editarpessoal.salrinic.label(class="form-control-label") }}
                             {% if form_editarpessoal.salrinic.errors %}
                                 {{ form_editarpessoal.salrinic(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                 {% for erro in form_editarpessoal.salrinic.errors %}
                                     {{ erro }}
                                 {% endfor %}
                                 </div>
                             {% else %}
                                 {{ form_editarpessoal.salrinic(class="form-control") }}
                             {% endif %}
                            </div>
                            {% if pessoal != "NEW" %}
                                <div class="form-group" style="width:20%">
                                 {{ form_editarpessoal.salrtual.label(class="form-control-label") }}
                                 {% if form_editarpessoal.salrtual.errors %}
                                     {{ form_editarpessoal.salrtual(class="form-control is-invalid") }}
                                     <div class="invalid-feedback">
                                     {% for erro in form_editarpessoal.salrtual.errors %}
                                         {{ erro }}
                                     {% endfor %}
                                     </div>
                                 {% else %}
                                     {{ form_editarpessoal.salrtual(class="form-control") }}
                                 {% endif %}
                                </div>
                            {% endif %}
                            <div class="form-group" style="width:20%">
                             {{ form_editarpessoal.cargfunc.label(class="form-control-label") }}
                             {% if form_editarpessoal.cargfunc.errors %}
                                 {{ form_editarpessoal.cargfunc(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                 {% for erro in form_editarpessoal.cargfunc.errors %}
                                     {{ erro }}
                                 {% endfor %}
                                 </div>
                             {% else %}
                                 {{ form_editarpessoal.cargfunc(class="form-control") }}
                             {% endif %}
                            </div>
                              <div class="form-group" style="width:40%">
                             {{ form_editarpessoal.escolari.label(class="form-control-label") }}
                             {% if form_editarpessoal.escolari.errors %}
                                 {{ form_editarpessoal.escolari(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                 {% for erro in form_editarpessoal.escolari.errors %}
                                     {{ erro }}
                                 {% endfor %}
                                 </div>
                             {% else %}
                                 {{ form_editarpessoal.escolari(class="form-control") }}
                             {% endif %}
                            </div>
                        </div>
                        <div style="display: flex; align-items: center; gap: 10px;">
                             <div class="form-group" style="width:33.3%">
                             {{ form_editarpessoal.select_estadciv.label(class="form-control-label") }}
                             {% if form_editarpessoal.select_estadciv.errors %}
                                 {{ form_editarpessoal.select_estadciv(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                 {% for erro in form_editarpessoal.select_estadciv.errors %}
                                     {{ erro }}
                                 {% endfor %}
                                 </div>
                             {% else %}
                                 {{ form_editarpessoal.select_estadciv(class="form-control") }}
                             {% endif %}
                            </div>
                            <div class="form-group" style="width:33.3%">
                             {{ form_editarpessoal.nomeconj.label(class="form-control-label") }}
                             {% if form_editarpessoal.nomeconj.errors %}
                                 {{ form_editarpessoal.nomeconj(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                 {% for erro in form_editarpessoal.nomeconj.errors %}
                                     {{ erro }}
                                 {% endfor %}
                                 </div>
                             {% else %}
                                 {{ form_editarpessoal.nomeconj(class="form-control") }}
                             {% endif %}
                            </div>
                            <div class="form-group" style="width:33.3%">
                             {{ form_editarpessoal.dtnasccg.label(class="form-control-label") }}
                             {% if form_editarpessoal.dtnasccg.errors %}
                                 {{ form_editarpessoal.dtnasccg(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                 {% for erro in form_editarpessoal.dtnasccg.errors %}
                                     {{ erro }}
                                 {% endfor %}
                                 </div>
                             {% else %}
                                 {{ form_editarpessoal.dtnasccg(class="form-control") }}
                             {% endif %}
                            </div>
                        </div>
                        <div style="display: flex; align-items: center; gap: 10px;">
                            <div class="form-group" style="width:20%">
                             {{ form_editarpessoal.rgfunc.label(class="form-control-label") }}
                             {% if form_editarpessoal.rgfunc.errors %}
                                 {{ form_editarpessoal.rgfunc(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                 {% for erro in form_editarpessoal.rgfunc.errors %}
                                     {{ erro }}
                                 {% endfor %}
                                 </div>
                             {% else %}
                                 {{ form_editarpessoal.rgfunc(class="form-control") }}
                             {% endif %}
                            </div>
                            <div class="form-group" style="width:20%">
                             {{ form_editarpessoal.cpffunc.label(class="form-control-label") }}
                             {% if form_editarpessoal.cpffunc.errors %}
                                 {{ form_editarpessoal.cpffunc(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                 {% for erro in form_editarpessoal.cpffunc.errors %}
                                     {{ erro }}
                                 {% endfor %}
                                 </div>
                             {% else %}
                                 {{ form_editarpessoal.cpffunc(class="form-control") }}
                             {% endif %}
                            </div>
                            <div class="form-group" style="width:20%">
                             {{ form_editarpessoal.fonefixo.label(class="form-control-label") }}
                             {% if form_editarpessoal.fonefixo.errors %}
                                 {{ form_editarpessoal.fonefixo(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                 {% for erro in form_editarpessoal.fonefixo.errors %}
                                     {{ erro }}
                                 {% endfor %}
                                 </div>
                             {% else %}
                                 {{ form_editarpessoal.fonefixo(class="form-control") }}
                             {% endif %}
                            </div>
                            <div class="form-group" style="width:20%">
                             {{ form_editarpessoal.fonecelr.label(class="form-control-label") }}
                             {% if form_editarpessoal.fonecelr.errors %}
                                 {{ form_editarpessoal.fonecelr(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                 {% for erro in form_editarpessoal.fonecelr.errors %}
                                     {{ erro }}
                                 {% endfor %}
                                 </div>
                             {% else %}
                                 {{ form_editarpessoal.fonecelr(class="form-control") }}
                             {% endif %}
                            </div>
                            <div class="form-group" style="width:20%">
                             {{ form_editarpessoal.emailpes.label(class="form-control-label") }}
                             {% if form_editarpessoal.emailpes.errors %}
                                 {{ form_editarpessoal.emailpes(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                 {% for erro in form_editarpessoal.emailpes.errors %}
                                     {{ erro }}
                                 {% endfor %}
                                 </div>
                             {% else %}
                                 {{ form_editarpessoal.emailpes(class="form-control") }}
                             {% endif %}
                            </div>
                        </div>
                        <div style="display: flex; align-items: center; gap: 10px;">
                            <div class="form-group" style="width:40%">
                             {{ form_editarpessoal.endereco.label(class="form-control-label") }}
                             {% if form_editarpessoal.endereco.errors %}
                                 {{ form_editarpessoal.endereco(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                 {% for erro in form_editarpessoal.endereco.errors %}
                                     {{ erro }}
                                 {% endfor %}
                                 </div>
                             {% else %}
                                 {{ form_editarpessoal.endereco(class="form-control") }}
                             {% endif %}
                            </div>
                            <div class="form-group" style="width:15%">
                             {{ form_editarpessoal.bairro.label(class="form-control-label") }}
                             {% if form_editarpessoal.bairro.errors %}
                                 {{ form_editarpessoal.bairro(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                 {% for erro in form_editarpessoal.bairro.errors %}
                                     {{ erro }}
                                 {% endfor %}
                                 </div>
                             {% else %}
                                 {{ form_editarpessoal.bairro(class="form-control") }}
                             {% endif %}
                            </div>
                            <div class="form-group" style="width:15%">
                             {{ form_editarpessoal.cidade.label(class="form-control-label") }}
                             {% if form_editarpessoal.cidade.errors %}
                                 {{ form_editarpessoal.cidade(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                 {% for erro in form_editarpessoal.cidade.errors %}
                                     {{ erro }}
                                 {% endfor %}
                                 </div>
                             {% else %}
                                 {{ form_editarpessoal.cidade(class="form-control") }}
                             {% endif %}
                            </div>
                            <div class="form-group" style="width:15%">
                             {{ form_editarpessoal.estado.label(class="form-control-label") }}
                             {% if form_editarpessoal.estado.errors %}
                                 {{ form_editarpessoal.estado(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                 {% for erro in form_editarpessoal.estado.errors %}
                                     {{ erro }}
                                 {% endfor %}
                                 </div>
                             {% else %}
                                 {{ form_editarpessoal.estado(class="form-control") }}
                             {% endif %}
                            </div>
                            <div class="form-group" style="width:15%">
                             {{ form_editarpessoal.cep.label(class="form-control-label") }}
                             {% if form_editarpessoal.cep.errors %}
                                 {{ form_editarpessoal.cep(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                 {% for erro in form_editarpessoal.cep.errors %}
                                     {{ erro }}
                                 {% endfor %}
                                 </div>
                             {% else %}
                                 {{ form_editarpessoal.cep(class="form-control") }}
                             {% endif %}
                            </div>
                        </div>
                            <div class="form-group">
                             {{ form_editarpessoal.benefc.label(class="form-control-label") }}
                             {% if form_editarpessoal.benefc.errors %}
                                 {{ form_editarpessoal.benefc(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                 {% for erro in form_editarpessoal.benefc.errors %}
                                     {{ erro }}
                                 {% endfor %}
                                 </div>
                             {% else %}
                                 {{ form_editarpessoal.benefc(class="form-control") }}
                             {% endif %}
                            </div>
                            <div class="form-group">
                             {{ form_editarpessoal.ferias.label(class="form-control-label") }}
                             {% if form_editarpessoal.ferias.errors %}
                                 {{ form_editarpessoal.ferias(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                 {% for erro in form_editarpessoal.ferias.errors %}
                                     {{ erro }}
                                 {% endfor %}
                                 </div>
                             {% else %}
                                 {{ form_editarpessoal.ferias(class="form-control") }}
                             {% endif %}
                            </div>
                            <div class="form-group">
                             {{ form_editarpessoal.observacao.label(class="form-control-label") }}
                             {% if form_editarpessoal.observacao.errors %}
                                 {{ form_editarpessoal.observacao(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                 {% for erro in form_editarpessoal.observacao.errors %}
                                     {{ erro }}
                                 {% endfor %}
                                 </div>
                             {% else %}
                                 {{ form_editarpessoal.observacao(class="form-control") }}
                             {% endif %}
                            </div>
                        {% endif %}
                    </fieldset>
                    <button onclick="history.back()" type="button" class="btn btn-secondary h-100 mt-2">VOLTAR</button>
                    {% if current_user.is_authenticated and current_user.access >= 3 %}
                        {{ form_editarpessoal.botao_submit_editarpessoal(class="btn btn-primary h-100 mt-2") }}
                        {% if pessoal != "NEW" %}
                        <a href="" data-bs-toggle="modal" data-bs-target="#DelFunc">
                            <button type="button" class="btn btn-sm btn-danger h-100 mt-2">APAGAR FUNCIONÁRIO</button>
                        </a>
                        {% endif %}
                    {% endif %}
                </form>
            </div>
        <hr>
    </div>

<!-- Modal -->
<div class="modal fade" id="DelFunc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Apagar funcionário {{ pessoal.idfunc }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Você tem certeza de que deseja excluir {{ pessoal.nomefunc }}?<br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <form method="POST" action="{{ url_for('excluir_func', func_id=pessoal.idfunc) }}">
         <button type="submit" class="btn btn-danger">Excluir funcionário</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}